:root {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 12pt;
    font-style: normal;
    font-variant-numeric: tabular-nums;
    font-variation-settings: "wdth" 87.5;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

body {
    margin: 0 auto;
    width: 8.5in;
}

header {
    display: flex;
    font-size: 14pt;
    font-weight: 700;
    justify-content: space-between;
    margin: 0 0 0.1in;
    text-transform: uppercase;
}

h1 {
    display: flex;
    font-size: inherit;
    margin: 0;
}

.kneeboard-title,
.kneeboard-subtitle {
    padding: 0.25em 0.5em;
}

.kneeboard-title {
    background: #000000;
    color: #FFFFFF;
}

.kneeboard-subtitle {
    background-color: #EFEFEF;
}

.kneeboard-modified-date {
    background-color: #EFEFEF;
    padding: 0.25em 0.5em;
}

section {
    margin-top: 0.25in;
}
